body{
    margin: 10px;
    font-size: medium;
}
.Container{
    background-color: white;
    display: grid;
    grid-template-rows: 100% 100%;
}

.presentation{
   margin: 5px;
   grid-column-start: 1;
   width: 80%;
   grid-row-start: 1;
   background-color: rgb(48, 62, 86);
   color:rgb(180, 150, 105)
}
.container1{
    margin-top: 5px;
    grid-column-start: 2;
    grid-row-start: 1;
}

.part{
    color: rgb(48, 62, 86);
    background-color: rgb(180, 150, 105);
}
.part1{
    color: rgb(48, 62, 86);
    background-color: rgb(180, 150, 105);
}